* {
    box-sizing: border-box;
  }
  /* main font and size */
  body {
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    margin: 10;
    background-color: black;
    flex-wrap: wrap;
  }
  main {
    background-color: white;
    float: left;
    width: 70%
  }

  .container{ 
    width: 100%;
  }

  
  .main-header {
    display: flex;
    justify-content: space-between;
    padding: 60px;
    background: #5aa2e5;
    color: #fff;
    flex-wrap: wrap;
  }
  /* main boxes */
  .card {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-style: dashed;
    border-width: 5px;
    margin: 50px;
  }

  .card p{
    width: 50%;
  }
  .card header {
    padding: 10px;
    background: #5aa2e5;
    color: #fff;
    height: 50px;
  }
 
  /* aside for contact box */
  .aside {
    padding: 10px;
    border-style: dashed;
    border-width: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    background-image: linear-gradient(
      rgb(0, 89, 255) 0%,
      rgba(0, 132, 255, 0.6) 100%
    );
  }

  /* Individual classes for each picture included */
    .Headshot img{
    width: 200px;
    height: 320px;
    /* text-align: right; */
    /* padding: 10px; */
    max-width: 100%;
    /* align-items: center; */
  }
    .Twitterpic img{
  width: 100px;
  height: 100px;
  max-width: 100%;
  align-items: center;
}
    .Linkedinpic img{
  width: 100px;
  height: 90px;
  max-width: 100%;
  align-items: center;
}
    .Emailpic img{
  width: 100px;
  height: 100px;
  max-width: 100%;
  align-items: center;
}
    .Phonepic img{
    width: 100px;
    height: 100px;
    max-width: 100%;
    align-items: center;
  }
  