* {
    box-sizing: border-box;
  }
  /* main font and size */
  body {
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    margin: 10;
    background-color: black;
    flex-wrap: wrap;
  }
  main {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2%;
    background-color: white;
    height: 110vh;
    text-align:center;
  }
  
  .main-header {
    display: flex;
    justify-content: space-between;
    padding: 60px;
    background: #5aa2e5;
    color: #fff;
    flex-wrap: wrap;
  }
  /* main boxes */
  .card {
    display: flex;
    /* flex: 1 0 200px; */
    padding: 10px;
    /* text-align: left; */
    border-style: dashed;
    border-width: 5px;
    margin: 50px;
    flex-wrap: wrap;
    max-width: 60%;
    min-width: 60%;
  }
  
  .card header {
    padding: 10px;
    background: #5aa2e5;
    color: #fff;
  }
 
  /* gradient for contact box */
  .linear-gradient-background {
    background-image: linear-gradient(
      rgb(0, 89, 255) 0%,
      rgba(0, 132, 255, 0.6) 100%
    );
  }
  /* aside for contact box */
  .aside {
    float: left;
    margin: 50px;
    padding: 10px;
    position: absolute;
    right: 0;
    width: 25%;
    height: 96%;
    border-style: dashed;
    border-width: 5px;
  }
  p{
    position: relative;
    /* flex-wrap: wrap; */
    /* padding-right: 10px; */
    padding-right: 250px;
  }
  /* Individual classes for each picture included */
    .Headshot img{
    position: relative; left: 500px;
    width: 200px;
    height: 320px;
    /* text-align: right; */
    /* padding: 10px; */
    max-width: 100%;
    float: right
    /* align-items: center; */
  }
    .Twitterpic img{
  position: relative;
  width: 100px;
  height: 100px;
  max-width: 100%;
  align-items: center;
}
    .Linkedinpic img{
  position: relative;
  width: 100px;
  height: 90px;
  max-width: 100%;
  align-items: center;
}
    .Emailpic img{
  position: relative;
  width: 100px;
  height: 100px;
  max-width: 100%;
  align-items: center;
}
    .Phonepic img{
    position: relative;
    width: 100px;
    height: 100px;
    max-width: 100%;
    align-items: center;
  }